<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.distancedetectorjava" >
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>

        <service android:name="com.example.distancedetectorjava.CurrentLocationSendingService" />
        <service android:name="com.example.distancedetectorjava.DistanceDetectorService" />
    </application>

</manifest>
